<div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="doctorFormModalLabel" *ngIf="!!action">{{action == "EDIT" ? "Edit Doctor Details" : action == "VIEW" ? "View Doctor Details" : "Add Doctor Details"}}</h5>
            <button type="button" id="closeDoctorFormModal" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="closeModal(false)"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="doctorForm">
                <div class="row mb-3">
                    <label for="doctorName" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text"
                            [class.is-invalid]="doctorForm.get('name')?.touched && doctorForm.get('name')?.invalid && doctorForm.get('name')?.errors?.['required']"
                            [attr.disabled]="action === 'VIEW' ? true : null" class="form-control" id="doctorName"
                            placeholder="Enter the doctor name" formControlName="name">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="Specialization" class="col-sm-2 col-form-label">Specialization</label>
                    <div class="col-sm-10">
                        <select class="form-select"
                            [class.is-invalid]="doctorForm.get('specialization')?.touched && doctorForm.get('specialization')?.invalid && doctorForm.get('specialization')?.errors?.['required']"
                            [attr.disabled]="action === 'VIEW' ? true : null" aria-label="Doctor Specialization"
                            id="Specialization" formControlName="specialization">
                            <option selected disabled value="null">Select Specialization</option>
                            <option *ngFor="let data of specializationList" [value]="data">{{data}}</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="doctorContact" class="col-sm-2 col-form-label">Contact</label>
                    <div class="col-sm-10">
                        <input type="text"
                            [class.is-invalid]="doctorForm.get('contact')?.touched && doctorForm.get('contact')?.invalid && doctorForm.get('contact')?.errors?.['required']"
                            [attr.disabled]="action === 'VIEW' ? true : null" class="form-control" id="doctorContact"
                            placeholder="Enter the contact number" formControlName="contact">
                        <div *ngIf="doctorForm.get('contact')?.touched && doctorForm.get('contact')?.invalid"
                            class="text-danger">
                            <div *ngIf="doctorForm.get('contact')?.errors?.['minlength']">Minimum 10 digits required.
                            </div>
                            <div *ngIf="doctorForm.get('contact')?.errors?.['maxlength']">Maximum 15 digits allowed.
                            </div>
                            <div *ngIf="doctorForm.get('contact')?.errors?.['pattern']">Only numeric characters allowed.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="status" class="col-sm-2 col-form-label">Status</label>
                    <div class="col-sm-10">
                        <select class="form-select"
                            [class.is-invalid]="doctorForm.get('status')?.touched && doctorForm.get('status')?.invalid && doctorForm.get('status')?.errors?.['required']"
                            [attr.disabled]="action === 'VIEW' ? true : null" aria-label="Doctor status" id="status"
                            formControlName="status">
                            <option value="true">Active</option>
                            <option value="false">Inactive</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3" formGroupName="address">
                    <label for="doctorAddress" class="col-sm-2 col-form-label">Address</label>
                    <div class="col-sm-10">
                        <input type="text" [attr.disabled]="action === 'VIEW' ? true : null" class="form-control" id="doctorAddress"
                            placeholder="Enter the street" formControlName="street">
                            <input type="text" [attr.disabled]="action === 'VIEW' ? true : null" class="my-2 form-control" id="doctorAddress"
                            placeholder="Enter the city" formControlName="city">
                            <input type="number" [attr.disabled]="action === 'VIEW' ? true : null" class="form-control" id="doctorAddress"
                            placeholder="Enter the pincode" formControlName="pincode">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="specialties" class="col-sm-2 col-form-label">specialties</label>
                    <div class="col-sm-10" formArrayName="specialties">
                        <button class="btn btn-primary" (click)="addSpl()">Add</button>
                        <div class="mt-3" *ngFor="let data of spl.controls; let i = index">
                            <div class="d-flex justify-content-between">
                                <input type="text" [attr.disabled]="action === 'VIEW' ? true : null"
                                    class="form-control" id="specialties" placeholder="Enter the specialties"
                                    [formControlName]="i">
                                <button class="ms-3 btn btn-danger" (click)="removeSpl(i)">remove</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer" *ngIf="action != 'VIEW'">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                (click)="closeModal(false)">Close</button>
            <button type="button" class="btn btn-primary" [disabled]="doctorForm.invalid"
                (click)="saveDoctorDetails()">Submit</button>
        </div>
    </div>
</div>