<div class="container pt-4 h-100">
    <div class="row pb-3" [formGroup]="searchForm">
        <div class="col order-first">
            <select id="specializations" class="form-select" formControlName="specialization" (change)="getDoctorDataList()">
                <option value="" selected>Select specialization</option>
                <option *ngFor="let data of specializationList" [value]="data">{{data}}</option>
            </select>
        </div>
        <div class="col">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search by doctor name" aria-label="Search Doctor"
                    aria-describedby="Search" formControlName="doctorName" (input)="getDoctorDataList()">
                <button class="btn btn-primary border border-secondary-subtle text-light" type="button" id="Search" (click)="this.searchForm.get('doctorName')?.value ? getDoctorDataList() : ''">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
        <div class="col order-last">
            <div class="d-flex justify-content-end">
                <button type="button" title="Add" class="btn btn-primary fw-bold" data-bs-toggle="modal"
                    data-bs-target="#doctorFormModal" (click)="action = 'ADD'">
                    <i class="fa fa-plus"></i> Add Doctor
                </button>
            </div>
        </div>
    </div>
    <div class="table-responsive height-70vh w-100">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Specialization</th>
                    <th scope="col">Contact</th>
                    <th scope="col" class="text-center">Availability Status</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let doctor of doctorListData?.data">
                    <td>{{doctor?.name}}</td>
                    <td>{{doctor?.specialization}}</td>
                    <td>{{doctor?.contact}}</td>
                    <td class="text-center">
                        <i class="fa fa-check-circle text-success" title="Active" *ngIf="doctor?.status == 'true'"></i>
                        <i class="fa fa-times-circle text-danger" title="Inactive" *ngIf="doctor?.status == 'false'"></i>
                    </td>
                    <td class="text-center">
                        <i class="fa fa-eye" title="View" role="button" data-bs-toggle="modal" data-bs-target="#doctorFormModal"
                            (click)="action = 'VIEW'; data = doctor"></i>
                        <i class="fa fa-pencil text-primary px-2" title="Edit" role="button" data-bs-toggle="modal"
                            data-bs-target="#doctorFormModal" (click)="action = 'EDIT'; data = doctor"></i>
                        <i class="fa fa-trash text-danger" title="Delete" role="button" data-bs-toggle="modal"
                            data-bs-target="#confirmationModal" (click)="selectedDoctorId = doctor?.id"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center align-items-center h-75" *ngIf="!doctorListData?.data || doctorListData?.data?.length == 0">
            <span *ngIf="(!doctorListData?.data || doctorListData?.data?.length == 0) && !isloading" class="text-danger">
                No Data Available
            </span>
            <div class="spinner-border" role="status" *ngIf="isloading">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <mat-paginator class="w-100" [pageIndex]="pageNo" [length]="doctorListData?.totalElements"  [pageSizeOptions]="[10,20,30,40,50]" [pageSize]="pageSize" (page)="pageEvent($event)" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>

<!-- Doctor Modal -->
<div class="modal fade" id="doctorFormModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="doctorFormModalLabel" aria-hidden="true">
    <app-doctor-form [action]="action" [data]="data" (doctorFormSubmit)="doctorFormSubmit($event)"></app-doctor-form>
</div>


<!-- Confirmation Modal -->
<div class="modal fade" id="confirmationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <app-confirmation (confirmationStatus)="confirmationStatus($event)"></app-confirmation>
</div>